:host {
  display: grid;
  padding: 16px 20px;
  grid-template-rows: 1fr min-content;
}

.messages-wrapper {
  max-height: 450px;
  overflow-y: scroll;
  display: grid;
  grid-gap: 16px;
}
.date-header {
  display: grid;
  justify-content: center;
}
